<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Humanizer" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.af" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.ar" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.az" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.bg" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.bn-BD" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.cs" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.da" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.de" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.el" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.es" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.fa" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.fi-FI" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.fr" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.fr-BE" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.he" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.hr" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.hu" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.hy" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.id" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.is" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.it" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.ja" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.ko-KR" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.ku" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.lb" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.lt" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.lv" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.ms-MY" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.mt" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.nb" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.nb-NO" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.nl" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.pl" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.pt" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.ro" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.ru" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.sk" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.sl" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.sr" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.sr-Latn" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.sv" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.th-TH" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.tr" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.uk" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.uz-Cyrl-UZ" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.uz-Latn-UZ" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.vi" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.zh-CN" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.zh-Hans" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="Humanizer.Core.zh-Hant" version="3.0.0-beta.54" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net471" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net471" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net471" />
  <package id="System.Memory" version="4.5.5" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
</packages>